<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Xtento\ProductExport\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Xtento\ProductExport\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">xtentoLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Xtento\ProductExport\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Xtento\ProductExport\Model\Export\Data\Review\General">
        <arguments>
            <argument name="urlBuilder" xsi:type="object">Magento\Framework\Url</argument>
        </arguments>
    </type>
</config>
<!--
/**
 * Product:       Xtento_ProductExport (2.1.0)
 * ID:            G7CD++h4QdnedP40rkoUgTXd092YAO8jXoxYTRFnMyk=
 * Packaged:      2016-10-16T09:33:21+00:00
 * Last Modified: 2016-09-09T13:48:49+00:00
 * File:          app/code/Xtento/ProductExport/etc/di.xml
 * Copyright:     Copyright (c) 2016 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->