<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_SeoToolKit
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amseotoolkit" translate="label" type="text" sortOrder="190520" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SEO Toolkit</label>
            <tab>amasty</tab>
            <resource>Amasty_SeoToolKit::config</resource>
            <group id="general" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="home_redirect" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>301 Redirects to Home Page</label>
                    <comment><![CDATA[Requests to /index.php, /cms/index, /home will be redirected to Home Page]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
