<?xml version="1.0"?>
<!-- Rename this file to export_data.own.xml and add your custom export classes here. These will be used to fetch data and make them available in the export. For sample classes check export_data.xml -->
<config>
    <data>
        <xyz>
            <class>\Xtento\ProductExport\Export\Data\Custom\Xyz</class>
        </xyz>
    </data>
</config>
<!--
/**
 * Product:       Xtento_ProductExport (2.1.0)
 * ID:            G7CD++h4QdnedP40rkoUgTXd092YAO8jXoxYTRFnMyk=
 * Packaged:      2016-10-16T09:33:21+00:00
 * Last Modified: 2016-04-14T15:37:35+00:00
 * File:          app/code/Xtento/ProductExport/etc/xtento/export_data.own.xml.sample
 * Copyright:     Copyright (c) 2016 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->