<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_SeoRichData
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="Amasty_SeoRichData::Block_Breadcrumbs" type="Amasty\SeoRichData\Plugin\Block\Breadcrumbs" />
    </type>
    <type name="Magento\Catalog\Pricing\Render\FinalPriceBox">
        <plugin name="Amasty_SeoRichData::Block_Price" type="Amasty\SeoRichData\Plugin\Block\Price" />
    </type>
</config>
